<div class="wrapper">
  <div class="title-container">
    <div>
      <button class="theme-button"
              data-testid="theme-button"
              (click)="themeService.toggleTheme();">
        Theme
      </button>
      <span>: {{themeService.dark ? 'Dark' : 'Light'}}</span>
    </div>
    <div class="title-wrapper">
      <h1 class="title">TODOs</h1>
      <button class="create-button"
              data-testid="create-button"
              (click)="createTodo()">+</button>
    </div>
  </div>
  <app-todo-list [todos]="todos$ | async"
                 (todoEdit)="handleEdit($event)">
  </app-todo-list>
</div>
