<form class="wrapper"
      [formGroup]="todoForm"
      (submit)="handleSubmit()">
  <div class="field">
    <label for="title">Title:</label>
    <input id="title"
           type="text"
           data-testid="title-input"
           formControlName="title">
  </div>
  <div class="field">
    <label for="due-date">Due Date:</label>
    <input id="due-date"
           type="date"
           data-testid="due-date-input"
           formControlName="dueDate">
  </div>
  <div class="field">
    <label for="description">Description:</label>
    <textarea id="description"
              formControlName="description"
              data-testid="description-input"
              rows="10">
    </textarea>
  </div>
  <button class="submit-button"
          data-testid="submit-button"
          type="submit">Submit</button>
</form>
