.wrapper {
  width: 40rem;
  background-color: var(--secondary);
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 2px 2px 5px var(--shadow);

  .title {
    margin: 0;
  }

  .due-date {
    margin-bottom: 1rem;
    color: var(--on-secondary-light);
    font-style: italic;
    font-size: 0.8rem;
  }
}
