<div *ngIf="todo"
     class="wrapper">
  <div class="title-wrapper">
    <h3 class="title"
        data-testid="title">
      {{todo.title}}
    </h3>
    <div class="buttons-wrapper">
      <button class="button"
              data-testid="edit"
              (click)="edit.emit(todo.id)">
        Edit
      </button>
      <button class="button"
              data-testid="delete"
              (click)="delete.emit(todo.id)">
        Delete
      </button>
    </div>
  </div>
  <div class="due-date"
       data-testid="due-date">
    {{todo.dueDate | date: 'yyyy-MM-dd'}}
  </div>
  <div class="description"
       data-testid="description">
    {{todo.description}}
  </div>
</div>
